/* This is CSS to design both webpages.*/
header {
    text-align: center;
}

body { 
    background-color:rgb(177, 238, 188);
    text-align: left;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: arial;
    font-size: large;
}

h3 {
    text-align: center;
    font-family: arial;
    font-size: large;
}

li {
    list-style-position: inside;
    text-align: center;
    font-size: 18px;
    font-family: Lucida Sans;
}

/*This is css for page 1*/
#publix {
    font-family: Arial;
}

.italix {
    font-family: cursive;
    font-style: italic;
}

.bigger {
    font-size: 20px;
    font-family: Lucida Sans;
    font-weight: bold;
}

.topix {
    font-family: Lucida Sans;
    text-decoration: underline;
}

#underline {
    text-decoration: underline;
}

#red {
    color: red;
}

/*this is the css for page 2*/
#head2 {
    font-size: 45px;
    text-align: center;
    font-family: arial;
}

#return {
    font-family: verdana;
    font-size: 30px;
}

/*These are colors for each competitor on page2*/
#orange {
    color: orange;
}

#yellow {
    color: yellow;
}

#green {
    color: green;
}

#blue {
    color: blue;
}

.navy {
    color: rgb(0, 34, 68);
    font-weight: bolder;
}

/*This is css for my FlexBox*/
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  gap: 20px;
}
.flex-container > section {
  flex: 1;
  max-width: 500px;
  padding: 10px;
}
.secs {
  background-color: rgb(209, 247, 215);
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
}